html { font-family:"微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { margin: 0; font-size:1.4rem; line-height: 20px; color: #000; background-color: #fff; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: transparent; text-decoration: none; color: #000; }
a:active { outline: 0; }
b, strong { font-weight: bold; }
dfn { font-style:normal;}
img { border: 0; vertical-align: middle; }
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input,textarea,button { border: 0; margin: 0; padding: 0; font-family:"微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;}
textarea { resize: none;}
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #ccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #ccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #ccc; }

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix { display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height:1%;}
.clearfix { display:block;}

html, body, .swipe, .swipe-wrap { width: 100%; height: 100%;}

body {
    background: #000000;
}

/* ===============================================================
Basic Swiper Styles
================================================================*/
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    height: 100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.swiper-container ul {
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-container ul li {
    position: absolute; overflow: hidden;
}
.swiper-container ul li img{
    width: 100%; height: 100%;
}

.swiper-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    display: none;
    z-index: 0;
}
.z-current {
    z-index: 1;
}
.swiper-slide:first-child {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;
}

.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.swiper-container ul {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.swiper-container ul li {
    position: absolute; overflow: hidden;
}
.swiper-container ul li img{
    width: 100%; height: 100%;
}

/*向上混动箭头*/
.arrow {
    position: absolute;
    z-index: 99;
    width: 20px;
    display: none;
}

.arrow.vertical {
    display: block;
    bottom: 5px;
    left: 50%;
    margin-left: -10px;

    -webkit-animation-name: arrowChange;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;

    animation-name: arrowChange;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.arrow.horizontal {
    display: block;
    right: 5px;
    top: 50%;
    margin-top: -10px;

    -webkit-animation-name: arrowChange1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;

    animation-name: arrowChange1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.arrow img {
    width: 100%;
    display: none;
}
.arrow.horizontal img.horizontal {
    display: block;
}
.arrow.vertical img.vertical {
    display: block;
}
@-webkit-keyframes arrowChange {
    0% { opacity: 0; bottom: 5px; }
    20% { opacity: 0.2; bottom: 10px; }
    40% { opacity: 0.4; bottom: 14px; }
    60% { opacity: 0.6; bottom: 18px; }
    80% { opacity: 0.8; bottom: 22px; }
    100% { opacity: 1; bottom: 26px; }
}
@keyframes arrowChange {
    0% { opacity: 0; bottom: 5px; }
    20% { opacity: 0.2; bottom: 10px; }
    40% { opacity: 0.4; bottom: 14px; }
    60% { opacity: 0.6; bottom: 18px; }
    80% { opacity: 0.8; bottom: 22px; }
    100% { opacity: 1; bottom: 26px; }
}

@-webkit-keyframes arrowChange1 {
    0% { opacity: 1; right: 5px; }
    20% { opacity: 0.8; right: 10px; }
    40% { opacity: 0.6; right: 14px; }
    60% { opacity: 0.4; right: 18px; }
    80% { opacity: 0.2; right: 22px; }
    100% { opacity: 0; right: 26px; }
}
@keyframes arrowChange1 {
    0% { opacity: 1; right: 5px; }
    20% { opacity: 0.8; right: 10px; }
    40% { opacity: 0.6; right: 14px; }
    60% { opacity: 0.4; right: 18px; }
    80% { opacity: 0.2; right: 22px; }
    100% { opacity: 0; right: 26px; }
}
/*音乐*/
.music {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    z-index: 99;
    background: none;
}
.music .music-rotate {
    margin: 10px 0 0 10px;
    width: 30px;
    height: 30px;
    background: url("./image/music_off.png") no-repeat;
    background-size: 100%;
}
.music.on {
    background: url("./image/music.gif") no-repeat;
    background-size: 100%;
}
.music.on .music-rotate {
    -webkit-animation-name: rotating;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;

    animation-name: rotating;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@-webkit-keyframes rotating {
    0% { -webkit-transform: rotate(0deg);}
    20% { -webkit-transform: rotate(72deg);}
    40% { -webkit-transform: rotate(144deg);}
    60% { -webkit-transform: rotate(216deg);}
    80% { -webkit-transform: rotate(288deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@keyframes rotating {
    0% { transform: rotate(0deg);}
    20% {transform: rotate(72deg);}
    40% { transform: rotate(144deg);}
    60% { transform: rotate(216deg);}
    80% { transform: rotate(288deg);}
    100% { transform: rotate(360deg);}
}